/*Importation police */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap'); 


/* element général */

*{
    box-sizing: border-box;
}

body
{
    margin:0;
}

 /* Choix police */

 p 
 {
     font-family: Roboto;
     font-size: 16px;
 }

 h1 
 {
    font-family: 'Libre Baskerville';
    font-size: 40px;
 }

 h2
 {
    font-family: 'Libre Baskerville';
    font-size:  30px;
 }

 h3
 {
    font-family: 'Libre Baskerville';
    font-size: 25px;
 }

a
{
    font-family: Roboto;
    text-decoration: underline;
    color: black;
    
}

a:hover
{
    color: #cb0202;
    text-decoration: none;
}


/* header */

header
{   
    background-color:  #ECEDEA;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 70px;
    border-bottom: solid rgba(0, 0, 0, 0.87);
}

#logo img
{
    width: 71px;
    height: 90px;
    margin-left: 10px;
}

.navbar
{
    padding : 10px;
    
}
.navbar a
{
        float: left;
        text-align: center;
        padding: 10px;
        margin: 10px;
        color: black;
        text-decoration: none;
        font-size: 16px;
        border: solid black;
        border-radius: 5px;
        font-family: Roboto;
}
      


.icone
{
    width: 15px;
    height: 16px;
}


/* footer */

footer
{
    background-color: #ECEDEA;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    border-top: solid rgba(0, 0, 0, 0.87);
    
}

#footer_link a 
{
    
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
.subtract
{
    height: 15px;
}

/* Index.html */

/*  Section de présentation du site  - page index - */

#section_titre
{
    border-bottom: solid  rgba(0, 0, 0, 0.87);
    padding: 10px 20px;
    /* background-color: #ECEDEA; */
    
}
#section_titre h1
{
    text-align: center;
}
#section_titre p
{
    text-align: justify;
    margin: 25px
}

.banniere
{
   margin: auto;
    width: 100%;
    height: 350px;
    background: no-repeat center center/ cover url(../images/office.jpg);
    border-radius: 5px;
    
}

/*  section de présentation du projet - page index - */

#section_projet
{
    padding: 5px 20px 10px 20px;
    
    /* background-color:#ECEDEA ; */
}
#section_projet p, h2
{
    text-align: justify;
    margin: 25px;
    
}


/* Section grid des pages partenaires - page index - */


.main
{
    background-color:#ECEDEA ;
    padding: 10px 20px 10px 20px;
    margin: 40px;
    border: solid black;
    border-radius: 10px;
}

.partenaire
{   position: relative;
    padding: 20px;
    margin: 10px;
    border: solid black;
    border-radius: 10px;
    min-height: 145px;
}
.partenaire img
{
 width: 200px;
 height: 100px;
 float: left;
 margin: 0 10px 0 0;
 
}

.partenaire p, h3
{
    text-align: justify;
    margin: 10px;
    
    
}
.partenaire .button_suite
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: solid black;
    border-radius: 5px;
}


